@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Rubik:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  transition: all 0.3s ease;
}
body {
  background-color: black;
}

.main {
  background: url("assets/images/backGround.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  height: 90vh;
  position: relative;
  background-size: max(1200px, 100vw);
}

.main .box {
  height: 90vh;
  width: 100%;
  opacity: 0.69;
  background-color: black;
  position: absolute;
  top: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 75vw;
  margin: 10px auto;
  height: 62px;
}

nav img {
  color: red;
  width: 120px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
  margin: 5px;
}

.hero {
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu,
    sans-serif;
  color: white;
  height: calc(100% - 62px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 23px;
  padding: 0 30px;
  text-align: center;
}

.hero > :nth-child(1) {
  font-style: "poppins";
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}

.hero > :nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.separation {
  height: 7px;
  background-color: rgb(46, 44, 44);
}
.btn {
  padding: 5px 12px;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.021);
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
.btn-red-sm {
  background-color: red;
  color: #fff;
  border: none;
}
.btn-red {
  background-color: red;
  color: #fff;
  padding: 5px 20px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.main input {
  padding: 10px 100px 8px 14px;
  font-size: 12px;
  font-weight: 900;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(23, 23, 23, 0.3);
  color: #fff;
}
.first {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 70vw;
  color: #fff;
  padding: 50px 0;
}

.sec-img {
  position: relative;
}
.sec-img img {
  width: 30vw;
  position: relative;
  z-index: 10;
}
.sec-img video {
  position: absolute;
  top: 51px;
  right: 0px;
  width: 30vw;
}

.first > div :nth-child(1) {
  font-size: 44px;
  font-weight: bold;
}
.first > div :nth-child(2) {
  font-size: 18px;
}

.first > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* **********FAQ************* */
.faq {
  padding-top: 34px;
  background-color: #000;
  color: #fff;
  margin-bottom: 30px;
}
.faq:nth-child(2) {
  margin-top: 20px;
}
.faq h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
}
.faq-box:hover {
  background-color: #414141;
}
.faq-box {
  display: flex;
  background-color: #2d2d2d;
  padding: 20px;
  max-width: 70vw;
  margin: 10px auto;
  justify-content: space-between;
  cursor: pointer;
}
.faq span {
  font-size: 18px;
}
.faq svg {
  filter: invert(1);
}
.faq p {
  text-align: center;
  margin: 20px 0;
}

/* ********FOOTER********* */
footer {
  color: white;
  max-width: 60vw;
  margin: auto;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

footer .questions {
  padding: 28px 0;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer a {
  color: #fff;
  font-size: 12px;
}

@media screen and (max-width: 1300px) {
  body {
    background-color: red;
  }
  .first {
    flex-wrap: wrap;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    row-gap: 3vw;
  }
}
